{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section id="ola">
    <div id="carrusel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/carrusel img.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/carrusel img 2.jpg ' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/carrusel img 3.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
        <div class="nuestros-productos" id="nuestrosProductos">
        <h1>Nuestros Prendas {{ nombre }} </h1 id=productos1>
        </div>
        <section id="catalogo">
            {% for planta in plantas %}
            <div class="planta">
                <img src="{{planta.imagen}}" alt="" class="imagen">
                <div class="descripcion">
                    {{planta.descripcion}}
                </div>
                <div>
                    <div class="cant-precio">
                        <div class="cantidad">
                            <span>Quedan</span>
                            <span>{{planta.stock}}</span>
                        </div>
                        <div class="precio">
                            <span class="tachado">{{ planta.tachado }}</span>
                            <span>${{planta.precio}}</span>
                        </div>
                    </div>
                    <div class="agregar">
                        <a href="{% url 'addtocar' planta.codigo %}">
                            Agregar al Carro
                        </a>
                        <img src="{% static 'images/icons8_buy_24px_1.png' %}" alt="" id="carroo">
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        {{ carro }}
    {% endblock %}