{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="quienes_somos">
        <h1>¿Quienes somos?</h1>
    </div>
    <div class="textoQuienesSomos">
        <p>Somos un grupo de vecinos comprometidos de la comunidad que nos hemos unido con un propósito común: apoyar a la fundación sin fines de lucro. <br> 
            A través de nuestra pasión por la jardinería y el deseo de marcar la diferencia, hemos creado esta iniciativa de venta de productos para jardinería con el objetivo de recaudar fondos para apoyar las valiosas causas de la fundación.<br>
            Nuestro equipo está conformado por amantes de la jardinería y expertos en el cuidado de plantas. 
            Nos enorgullece ofrecer una amplia variedad de productos de calidad, que incluyen maceteros únicos y decorativos, tierra de hojas nutritiva, flores vibrantes y arbustos saludables. Cada uno de nuestros productos es cuidadosamente seleccionado y cultivado con dedicación y conocimientos especializados.<br>
            Además de brindar productos excepcionales para embellecer tus espacios verdes, nos enorgullece decir que el 100% de los ingresos generados a través de nuestras ventas se destinan directamente a la fundación. 
            Con tu apoyo, podemos contribuir a proyectos y programas que tienen un impacto real en la comunidad y ayudar a mejorar la vida de aquellos que más lo necesitan.<br>
            Te invitamos a explorar nuestra tienda en línea, donde encontrarás una amplia gama de productos para jardinería. <br>
            ¡Cada compra que realices con nosotros no solo embellecerá tu hogar, sino que también contribuirá a una causa noble y significativa!
            Agradecemos profundamente tu apoyo y confianza en nuestra iniciativa. <br>
            Juntos, podemos hacer una diferencia y cultivar un futuro mejor.<br>
            ¡Únete a nosotros en esta hermosa misión de amor por la jardinería y solidaridad!</p>
    </div>
{% endblock %}